# Ignore everything by default
# *
!.gitignore
!.vimrc
!.bashrc
!.zshrc
!.bash_profile
!.promptlinerc
!.editorconfig
!.npmrc
!.tmux.conf
!.config/nvim/init.vim
!.config/nvim/coc-settings.json
!.config/coc/extensions/package.json
!setup.sh
!.p10k.zsh
!.gitconfig
node_modules
yarn.lock
